<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="BodyPatterns" value="`*здравствуйте/добрый вечер/добрый день/-*, DstName, SrcName, *отправляю/прилагаю/предоставляю/показываю* *вам/-* *краткий/-* отчёт о *проделанной/выполненной/-* работе *за сегодня/за день/-**:/-*ChangeLogs``DstName, *здравствуйте/добрый вечер/добрый день/-*, SrcName, *отправляю/прилагаю/предоставляю* *вам/-* *краткий/-* отчёт о *проделанной/выполненной/-* работе *за сегодня/за день/-**:/-*ChangeLogs``DstName, *здравствуйте/добрый вечер/добрый день*\r\nSrcName, *предоставляю/показываю/прилагаю/отправляю* *вам/-* *список/перечень/сводку* *всех/-* *проделанных/выполненных/реализованных/-* *за сегодняшний день/сегодня/за день/-* *работ/изменений* в *серверной части программы/программе**:/-*ChangeLogs`" />
      <add key="SubjectPatterns" value="`Отчёт о проделанной работе над серверным приложением MM`" />
      <add key="ChangeLogs" value="nothing" />
      <add key="DstName" value="Никита Владимирович" />
      <add key="SrcName" value="я *студент/-* Игорь" />
      <add key="SrcAddress" value="fpv555@gmail.com" />
      <add key="DstAddress" value="fpv555@gmail.com" />
      <add key="SrcPassword" value="pfgevxcoxsyjiqdy" />
      <add key="Appeal" value="0" />
      <add key="Introduce" value="1" />
      <add key="StartOnBoot" value="True" />
    </appSettings>
</configuration>
